@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes waveMovement {
  0% {
    d: path(
      "M0,256L48,224C96,192,192,128,288,133.3C384,139,480,213,576,213.3C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    );
  }
  50% {
    d: path(
      "M0,256L48,240C96,224,192,192,288,181.3C384,171,480,181,576,181.3C672,181,768,171,864,192C960,213,1056,267,1152,261.3C1248,256,1344,192,1392,160L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    );
  }
  100% {
    d: path(
      "M0,256L48,224C96,192,192,128,288,133.3C384,139,480,213,576,213.3C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    );
  }
}

.wave-path {
  animation: waveMovement 6s ease-in-out infinite;
}

.swiper-wrapper {
  margin-bottom: 50px !important;
  position: relative;
}

.swiper-pagination {
  top: 50px;
  .swiper-pagination-bullet {
    background-color: #a8a7a7;
  }

  .swiper-pagination-bullet-active {
    background-color: #5e199a;
  }
}

html.dark .swiper-pagination-bullet {
  background-color: #fff;
}
